@{
    ViewData["Title"] = "Informacje dodatkowe";
}
<h1>@ViewData["Title"]</h1>


<h6>W razie pytań lub sugestii dotyczących systemu prosimy o kontakt pod adresem <b><i><a href="mailto:it@hotelsystems.pl?subject=Uwaga%20dotycz%C4%85ca%20systemu"> kontakt@hotelsystems.pl </a></i></b></h6>
<br />
<div class="title-desc l-no-cta">
    <h4 class="l-margin-top ">GLOBALNA POLITYKA PRYWATNOŚCI GRUPY HOTELOWEJ</h4>   
    <p class="l-s-margin-bottom-none l-l-margin-bottom"> </p><p>W skład której wchodzą Marriott International, Inc., Starwood Hotels &amp; Resorts Worldwide, LLC (wcześniej znana jako Starwood Hotels &amp; Resorts Worldwide, Inc.) i jej spółki powiązane, ceni swoich gości i zdaje sobie sprawę, że prywatność jest dla nich sprawą ważną. Pragniemy, aby nasi goście wiedzieli, w jaki sposób pozyskujemy, wykorzystujemy i ujawniamy informacje.</p>

    <p>Niniejsza Polityka prywatności opisuje praktyki ochrony prywatności Grupy Marriott w zakresie informacji pozyskiwanych:</p>

    <ul>
        <li>za pośrednictwem naszych witryn internetowych, poprzez które użytkownik uzyskuje dostęp do niniejszej Polityki prywatności, w tym Marriott.com i pozostałych witryn stanowiących własność Grupy Marriott lub kontrolowanych przez nią (zwanych dalej łącznie „<strong>witrynami</strong>”)</li>

        <li>za pośrednictwem aplikacji udostępnionych przez nas do użytku na komputerach lub za pośrednictwem komputerów, bądź na urządzeniach przenośnych (zwanych dalej „<strong>aplikacjami</strong>”)</li>

        <li>za pośrednictwem naszych stron w mediach społecznościowych kontrolowanych przez nas, za pośrednictwem których użytkownik uzyskuje dostęp do niniejszej Polityki prywatności (zwane dalej łącznie naszymi „<strong>stronami w mediach społecznościowych</strong>”)</li>

        <li>za pośrednictwem wiadomości e-mail w formacie HTML zawierających łącze do niniejszej Polityki prywatności i za pośrednictwem informacji przesyłanych nam przez użytkownika</li>

        <li>gdy odwiedzają Państwo lub przebywają jako goście w jednym z naszych obiektów lub w domach i willach oferowanych na platformie Homes and Villas by Marriott International (dalej nazywaną „<b>Homes and Villas</b>”) lub poprzez inne interakcje offline (dalej nazywanymi łącznie „<b>wizytami w obiektach i interakcjami offline</b>”)</li>
    </ul>

    <p>Witryny, aplikacje i strony w mediach społecznościowych nazywane są dalej łącznie „<b>usługami online</b>”, a łącznie z wizytami w <b>obiektach i interakcjami offline</b> nazywane są dalej „<b>usługami</b>”. Korzystając z usług, użytkownik akceptuje warunki i postanowienia niniejszej Polityki prywatności.</p> <p></p>
</div>